@import url('https://fonts.googleapis.com/css?family=Gurajada|Rajdhani|Ubuntu:700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* ============================================================================== */

.content-top{
    height: 92vh;
    background-image: url("../assets/img/about/about-1.webp");
    background-size: cover;
    background-position: 0 -47vh;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
}
.tags-0{
    transform: translateY(40vh);

}
.content-top h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
}
.content-top p{
    margin: 1rem;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
/* =========================================================================== */

.content-middle{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.video-middle{
    z-index: -1;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}
.tags{
    text-align: center;
    width: 100%;
    transform: translateY(40vh);

}
.tags h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem;
}
.tags p{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.button{
    width: 100%;
    text-align: center;
   
} 
.purple-button{
    transform: translateY(-5vh);
    background: none;
    background-color: #512da8;
    border-radius: 45px;
    border: 5px #512da8;
    color: white;
    width: 150px;
    height: 75px;
    font-size: large;
    cursor: pointer;
    outline: none;
}
/* ============================================================================= */
.content-last{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.video-last{
    z-index: -1;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}
.tags-2{
    
    text-align: center;
    width: 100%;
    transform: translateY(40vh);

}
.tags-2 h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem;
}
.tags-2 p{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
/* ============================================================================= */
@media screen and (max-width:1400px){

    .content-top{
        background-position: 0 -25vh;
    }
    .video-middle{
        transform: translateX(-40vh);
    }
    .video-last{
        transform: translateX(-40vh);
 
    }
}

@media screen and (max-width:1024px){

    .content-top{
        background-position: 0 -15vh;
    }
    .video-middle{
        transform: translateX(-50vh);
    }
    .video-last{
        transform: translateX(-50vh);
 
    }
}
@media screen and (max-width:768px){

    .content-top{
        background-position: top;
    }
    .video-middle{
        transform: translateX(-100vh);
        zoom: 0.5;

    }
    .video-last{
        transform: translateX(-97vh);
        zoom: 0.5;

 
    }
}
@media screen and (max-width:450px){

    
    .video-middle{
        transform: translateX(-130vh);
    }
    .video-last{
        transform: translateX(-110vh);
 
    }
}
@media screen and (max-height:450px){
    .content-top{
        background-position: 0 -40vh;
    }
    .tags-0{
        transform: translateY(30vh);

    }
    .tags{
        transform: translateY(30vh);

    }
    .button{
        
        transform: translateY(-5vh);
    }
    .tags-2{
        transform: translateY(30vh);

    }
    .video-middle{
        zoom: 0.5;
        /* transform: translateX(-180vh); */
    }
    .video-last{
        zoom: 0.5;
        /* transform: translateX(-180vh); */
    }
}