@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Varela|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');


*{
    margin:0;
    padding: 0;
}

.reg-container{
    width: 450px;
    min-height: 425px;
    max-height: 650px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    transform: translateY(50%);
    border-radius: 20px;

}
.form-bg-col{
    height: 100vh;
    width: 100%;
    background-image: url("../portrait-of-woman-photographing-with-smart-phone-248021.webp");
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    z-index:-99;
}

.college-heading{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.college-search{
    font-family: 'Varela Round', sans-serif;
    margin: 1rem;
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
}
.branch{
    font-family: 'Varela Round', sans-serif;
    margin: 1rem;
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    background-attachment: fixed;
    z-index:;

}
.phone{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 5px;
    border: 2px black solid;
    font-size: 1rem;
    font-weight:thick;
    padding-left: 1.5rem;
    color: black;
    outline: none;
}
.branch input{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 5px;
    border: 2px black solid;
    font-size: 1rem;
    font-weight:thick;
    padding-left: 1.5rem;
    color: black;
    outline: none;

}
.yoa{
    font-family: 'Varela Round', sans-serif;
    margin: 1rem;
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 0;
}
.yoa input{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 5px;
    border: 2px black solid;
    font-size: 1rem;
    font-weight:thick;
    padding-left: 1.5rem;
    color: black;
    outline: none;

}
.col-form-next{
    border: 1px solid black;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    font-size: 1.5rem;
    outline: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: 1rem;
    margin-top: 0;
  margin-inline-start: 350px;
}

@media screen and (max-width:550px){
    .form-bg-col{
        background-position: -65vh;
    }
    .reg-container{
        width: 300px;
       
    }
    .col-form-next{
        margin-inline-start: 210px;
    }
}

@media screen and (max-height:550px){
    .form-bg-col{
        background-position: center;
    }
}