*{
    margin: 0;
    padding: 0;
}

.nextStep-btn{
    height: 60px;
    width: 60px;
    color: white;
    background-color: black;
    outline: none;
    border-radius: 65px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    font-weight: lighter;
    margin: auto;
}